#table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

#table th {
  text-align: center;
  background-color: lightcoral;
  color: antiquewhite;
  border: 1px solid gainsboro;
  padding: 12px;
}

#table td {

  border: 1px solid gainsboro;
  padding: 12px;

}
